<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">
  <!-- <title>{% block title %}{% endblock %}</title> -->
  <title>Calculadora solar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/processed_styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="main-container hidden">
    <div class="title-container">
      <div class="circle-number">1.</div>
      <h1>Selecciona tu ubicación</h1>
    </div>
    <div class="flex flex-col text-center items-center md:flex-row md:justify-around">
      <div class="card items-center bg-main-yellow bg-opacity-20 mb-6 md:mb-0 cursor-pointer">
        <img src="static/vectors/mexico.svg" alt="Mapa de mexico" class="map-image">
        <p class="text-2xl">
          Mexico
        </p>
      </div>
      <div class="card items-center bg-main-yellow bg-opacity-20 mb-6 md:mb-0 cursor-pointer">
        <img src="static/vectors/world.svg" alt="Mapa del mundo" class="map-image">
        <p class="text-2xl">
          Mundo
        </p>
      </div>
    </div>
  </div>
  <div class="main-container mexico">
    <div class="title-container">
      <div class="circle-number">2.</div>
      <h1>Ingresa tus datos</h1>
      <svg height="411.56491071428565" version="1.1" width="653" 
      xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;" 
      viewBox="0.6413392857143426 0.6413392857142858 653.0000000000001 411.5649107142857"
      preserveAspectRatio="xMinYMin">
      <rect x="-2015.01" y="-1269.6299999999999" width="5040" height="3176.5499999999997" r="0" rx="0" ry="0" fill="#ffffff" stroke="none" transform="matrix(0.6478,0,0,0.6478,0,0)" style="fill-opacity: 0;" stroke-width="1.5436447166921903" fill-opacity="0"></rect>
    </svg>
    </div>
  </div>
</body>
</html>